<!DOCTYPE html>
{% load static %}
<html lang=ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投票アプリ</title>
    <link rel="stylesheet" href="{% static 'main/css/detail.css' %}">
</head>
<body>
    <form class="vote-form" action="{% url 'vote' question.id %}" method="POST">
    {% csrf_token %}
        <div class="vote-content">
            <h1 class="vote-question">{{ question.question_text }}</h1>

            {% if error_message %}
                <p class="error-message"><strong>{{ error_message }}</strong></p>
            {% endif %}

            {% for choice in question.choices.all %}
            <div class="choice-option">
                <input type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}">
                <label for="choice{{ choice.id }}">{{ choice.choice_text }}</label><br>
            </div>
            {% endfor %}

        </div>
        <input class="vote-button" type="submit" value="Vote">
    </form>
    <a class="back-link" href="{% url 'index' %}">トップへ戻る</a>
</body>
</html>